.home {
    height: calc( 100% - 4rem);
    display: grid;
    grid-template-columns: repeat( 6, 1fr );
    grid-template-areas: 
                " .     headline    headline    headline    headline    ."
                " .     description description description description ."
                " work  work        work        work        work        work ";
    grid-template-rows: min-content min-content; /*auto;*/
    row-gap: 2em;
    margin-top: 17vh;
    
}

.headline { 
    grid-area: headline;
    max-width: 35ch;
    font-size: clamp(2rem, 10vw, 3rem);
}

.description { 
    grid-area: description;
    max-width: 35ch;
    font-size: clamp(1rem, 5vw, 2rem);
}

