// -- Typeface --
// import moved to nuxt.config.js

html {
    font-size: 20px;
}

* {
    font-family: $font-stack-text;
    font-weight: 300;
    font-style: normal;
    text-indent: 0;
    letter-spacing: -0.01em;
    line-height: 1.25em;
    color: $dark-grey;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    line-height: 1em;
    font-family: $font-stack-display;
    font-size: 1.00rem;
    font-size: clamp(1.00rem, 9vw, 2rem);
    letter-spacing: -0.08em;
}
h2 { 
    font-family: $font-stack-text;
    font-size: 1.00rem;
    line-height: 1em;
}
h3,h4,h5,h6 { 
    font-size: 1.00rem; 
    line-height: 1em;
}