// -- Typeface --
// import moved to nuxt.config.js

html {
    font-size: 18px;
}

* {
    font-family: $font-stack-text;
    font-weight: 400;
    font-style: normal;
    text-indent: 0;
    letter-spacing: -0.01em;
    line-height: 1.0em;
    color: $dark-grey;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    line-height: 1em;
    font-family: $font-stack-display;
    font-size: 3.00rem;
    letter-spacing: -0.08em;

}
h2 { 
    font-family: $font-stack-text;
    font-size: 2.00rem;

}
h3,h4,h5,h6 { 
    font-size: 1.00rem; 
}

strong {
    font-weight: 700;
    color: inherit;
}